.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie-card {
  margin: 10px;
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #222;
  font-family: Arial, sans-serif;
}

